<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
  <div>
    <a href="#"> ^ Go to top ^ </a> | &copy; Christian Kleinb&ouml;lting, <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed">CC BY-NC-SA 4.0</a>
  </div>

  <script th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
          th:src="${rootpath} + 'js/prettify.js'"></script>
</footer>
</body>
</html>
