<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header.html::head"></head>

<body onload="prettyPrint()">

<header th:replace="menu.html::menu"></header>

<main>
  <article th:each="post : ${published_posts}" class="blog-post blog-post__teaser">
    <h1 class="blog-post__title">
      <a th:href='${post.uri}' th:text='${post.title}' href='#'>title</a>
    </h1>
    <p class="blog-post__date" th:text='${#dates.format(post.date,"d MMMM yyyy")}'>date</p>
    <p class="blog-post__content" th:utext='${post.body}'>body</p>
  </article>
</main>

<!--<aside>-->
<!--  <div>-->
<!--    Older posts are available in the-->
<!--    <a th:href='${content.rootpath+config.archive_file}' href="#">archive</a>.-->
<!--  </div>-->
<!--</aside>-->

<footer th:replace="footer.html::footer"></footer>

</body>
</html>
