<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="menu">
  <nav class="nav">
    <a class="nav__link"
       th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
       th:href="${rootpath}+'index.html'">Blog</a>
    <a class="nav__link" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
       th:href="${rootpath}+'about.html'">About</a>
    <a class="nav__link" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
       th:href="${rootpath}+'tools.html'">Tools</a>
    <a class="nav__link" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
       th:href="${rootpath}+'archive.html'">Archive</a>
    <a class="nav__link" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')"
       th:href="${rootpath}+${config.feed_file}">Feed</a>
  </nav>
</header>
</body>
</html>
