<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header.html::head"></head>

<body>

<header th:replace="menu.html::menu"></header>

<main>
  <article class="blog-post">
    <h1 class="blog-post__title" th:text='${content.title}'>title</h1>
    <p class="blog-post__content" th:utext='${content.body}'>body</p>
  </article>
</main>

<footer th:replace="footer.html::footer"></footer>

</body>
</html>
