*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-bg-light: #fdfff7;
  --clr-bg-dark: #1a78b6;
  --clr-text-light: #fefefe;
  --clr-text-dark: #333;
  --clr-text-links-dark: #1a78b6;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.6;
  font-family: serif;
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
}

a {
  color: var(--clr-text-links-dark);
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--clr-bg-dark);
  box-shadow: 0 4px 2px -2px gray;
  padding: 1rem;
  margin-bottom: 2rem;
}

.nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 1.618rem;
}

.nav__link {
  color: var(--clr-text-light);
  text-transform: capitalize;
  text-decoration: none;
}

main,
aside,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

main {
  flex: 1;
}

main > * {
  width: 100%;
  max-width: 600px;
}

p {
  margin-bottom: 1rem;
}

.blog-post__teaser::after {
  content: '';
  display: block;
  position: relative;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid #ddd;
}

.blog-post + .blog-post {
  margin-top: 2rem;
}

.blog-post__title {
  font-size: 1.618rem;
  color: var(--clr-text-dark);
}

.blog-post__title a {
  color: var(--clr-text-dark);
}

.blog-post__date {
  font-size: .8rem;
  font-style: italic;
  font-family: sans-serif;
  color: #aeaeae;
}

footer {
  width: 100vw;
  font-family: sans-serif;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
  align-self: end;
}

footer a {
  color: var(--clr-text-light);
}

/*Pretty print source code styles*/
pre .str, code .str {
  color: #65B042;
}

/* string  - green */
pre .kwd, code .kwd {
  color: #E28964;
}

/* keyword - dark pink */
pre .com, code .com {
  color: #AEAEAE;
  font-style: italic;
}

/* comment - gray */
pre .typ, code .typ {
  color: #89bdff;
}

/* type - light blue */
pre .lit, code .lit {
  color: #3387CC;
}

/* literal - blue */
pre .pun, code .pun {
  color: #fff;
}

/* punctuation - white */
pre .pln, code .pln {
  color: #fff;
}

/* plaintext - white */
pre .tag, code .tag {
  color: #89bdff;
}

/* html/xml tag    - light blue */
pre .atn, code .atn {
  color: #bdb76b;
}

/* html/xml attribute name  - khaki */
pre .atv, code .atv {
  color: #65B042;
}

/* html/xml attribute value - green */
pre .dec, code .dec {
  color: #3387CC;
}

/* decimal - blue */

pre.prettyprint, code.prettyprint {
  background-color: #000;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none
}

/* Alternate shading for lines */
li.L1, li.L3, li.L5, li.L7, li.L9 {
}

@media print {
  pre .str, code .str {
    color: #060;
  }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit, code .lit {
    color: #044;
  }

  pre .pun, code .pun {
    color: #440;
  }

  pre .pln, code .pln {
    color: #000;
  }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn, code .atn {
    color: #404;
  }

  pre .atv, code .atv {
    color: #060;
  }
}